<!DOCTYPE html>
<html>
  <head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" rel="stylesheet" />
    <link href="/static/index.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/static/index.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>Video Habits Dashboard</h1>
      <div class="row">
        <div class="six columns">
          <img src="/plot.svg?kind=minutes_watched_per_hour" class="plot"/>
        </div>
        <div class="six columns">
          <img src="/plot.svg?kind=coverage_per_lecture" class="plot"/>
        </div>
      </div>
    </div>
  </body>
</html>
